.kaalaaRedeemButtonWrapper {
  width: 100%;
  padding: 22px;
  background: #6100ff;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  border: none;
  outline: none;
  justify-content: space-between;
  align-items: center;
  color: white;
  display: none;
}

.kaalaaRedeemButtonLeft {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: flex-start;
  width: min-content;
}

.kaalaaRedeemButtonRight {
  padding: 10px 8px;
  background-color: white;
  border-radius: 37px;
  color: #6100ff;
  font-size: 14px;
  /* width: min-content; */
}
