:root {
  --purple-light: #eee3ff;
  --purple: #6100ff;
  --purple-hover: #7f00ff;
  --light: #ffffff;

  /* Base Sizes */
  --bg-size: 28px;
  --icon-size: 16px;
  --full-width: 77px;
  --border-radius: calc(var(--bg-size) / 2);

  /* Easings */
  --ease-bounce: cubic-bezier(0.22, 1, 0.36, 1.05);

  /* Durations */
  --norm-dur: 0.3s;
  --slow-dur: 0.5s;
  --very-slow-dur: 1s;

  /* Delays */
  --norm-delay: 0.2s;
  --long-delay: 0.5s;
  --calc-delay-for-go-to-full-width-anim: calc(
    var(--pulse-anim-duration) + var(--long-delay)
  );

  /* Multiplier for presentation. Makes it look bigger */
  --multiplier: 4;

  /* Number of cycles for the timer */
  --number-of-pulse-iterations: 4;

  /* Calculated vars with the multiplier */
  --pulse-anim-duration: calc(var(--number-of-pulse-iterations) * 1s);
  --calc-border-radius: calc(var(--border-radius) * var(--multiplier));
  --calc-bg-size: calc(var(--bg-size) * var(--multiplier));
  --calc-full-width: calc(var(--full-width) * var(--multiplier));

  /* Animations */
  --pulse-anim: pulse ease-out var(--very-slow-dur) var(--long-delay)
    var(--number-of-pulse-iterations);
  --spin-anim: spin linear var(--pulse-anim-duration) var(--long-delay) forwards;
  --go-to-full-width-anim: goToFullSize var(--ease-bounce) var(--slow-dur)
    var(--calc-delay-for-go-to-full-width-anim) forwards;
  --show-bg-anim: showElement var(--ease-bounce) var(--slow-dur) forwards;
}

.icon {
  width: calc(var(--icon-size) * var(--multiplier));
  height: calc(var(--icon-size) * var(--multiplier));
  background-image: url("kaalaa_assets/timer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: calc(
    ((var(--bg-size) - var(--icon-size)) / 2) * var(--multiplier)
  );
  margin-top: calc(
    ((var(--bg-size) - var(--icon-size)) / 2) * var(--multiplier)
  );
  position: absolute;
  pointer-events: none;
  transform: scale(0);
  animation: showElement ease-in 0.3s 0.2s forwards;
}

.kaalaa_pulse {
  position: absolute;
  width: var(--calc-bg-size);
  height: var(--calc-bg-size);
  animation: var(--pulse-anim);
  pointer-events: none;
}

.kaalaa_spin {
  position: absolute;
  width: var(--calc-bg-size);
  height: var(--calc-bg-size);
  animation: var(--spin-anim);
  pointer-events: none;
}

@keyframes kaalaa_showElement {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes kaalaa_goToFullSize {
  from {
    margin-left: 0;
    width: var(--calc-bg-size);
  }
  to {
    margin-left: calc(
      var(--calc-full-width) / -2 + calc(var(--calc-bg-size) / 2)
    );
    width: var(--calc-full-width);
  }
}

@keyframes kaalaa_pulse {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes kaalaa_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product_wrapper {
  position: relative;
  /* padding: 24px; */
  width: min-content;
  height: min-content;
  background: transparent;
}

.product_image_wrapper {
  position: relative;
  background: transparent;
  width: min-content;
  height: min-content;
  overflow: hidden;
}

.product_image {
  width: 100% !important;
  height: auto;
}

.product_name {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  margin-top: 32px;
  color: #000000;
}

.product_desc {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.2;
}

.product_button {
  transition: 0.5s all ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 15px 32px;
  gap: 10px;
  height: 48px;
  width: 100%;
  margin-top: 32px;
  background: #000000;
  color: #ffffff;
  border-radius: 8px;
}

.product_button:hover {
  cursor: pointer;
}

.timer_container {
  transition: 0.5s;
  display: flex;
  opacity: 0;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 8px;
  top: 8px;
  background: linear-gradient(270deg, #5200ff 0%, #8f00ff 100%);
  box-shadow: 0px 0px 8px rgba(97, 0, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 24px;
  color: white;
}

.timer_container:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(270deg, #8000ff 0%, #6100ff 100%);
}

.timer_container_w {
  transition: 0.5s all ease-in-out;
  display: flex;
  opacity: 0;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 8px;
  position: absolute;
  width: max-content !important;
  height: 40px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border-radius: 8px;
}

.timer {
  height: 5px;
  width: 0px;
  left: 12px;
  top: 7px;
  border-radius: 0px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  padding: 5px 2px;
  font-size: 13px;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgIcon {
  width: 17px;
  height: 17px;
  margin-right: 3px;
}

.downloadQR {
  padding: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: cornflowerblue;
  border-radius: 5px;
  transition: 0.5s;
  margin: 20px;
}

.downloadQR:hover {
  background-color: darkblue;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  justify-content: center;
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
  height: min-content;
  width: min-content;
  max-width: 400px;
  max-height: 462px;
  background: white;
  backdrop-filter: blur(16px);
  border-radius: 32px;
}

.modal-status-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.modal-close {
  position: absolute;
  right: 24.1px;
  top: 24.1px;
  cursor: pointer;
}

.modal-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 30px 0;
}

.modal-desc {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

.modal-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 232px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 14px;
  justify-content: center;
  margin-top: 8px;
  background: linear-gradient(270deg, #5200ff 0%, #8f00ff 100%);
  border-radius: 24px;
  transition: 0.5s;
  outline: none;
}

.modal-button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(270deg, #8f00ff 0%, #6100ff 100%);
}

.modal-claim-input {
  padding: 8px 16px;
  gap: 8px;
  width: 232px;
  height: 40px;
  border-radius: 24px;
  border: none;
  background-color: #e0e0e0;
  font-size: 14px;
  outline: none;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

#QRContainer {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.zoom-in-out-box {
  width: 64px;
  height: 64px;
  animation: zoom-in-zoom-out 0.7s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media (max-width: 768px) {
  .product_wrapper {
    width: 100%;
  }

  .modal-content {
    width: 80%;
  }
}
