.product_wrapper {
  position: relative;
  /* padding: 24px; */
  width: min-content;
  height: min-content;
  background: transparent;
}

.product_image_wrapper {
  position: relative;
  background: transparent;
  width: min-content;
  height: min-content;
  overflow: hidden;
}

.product_image {
  width: 100% !important;
  height: auto;
}

.product_name {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  margin-top: 32px;
  color: #000000;
}

.product_desc {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.2;
}

.product_button {
  transition: 0.5s all ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 15px 32px;
  gap: 10px;
  height: 48px;
  width: 100%;
  margin-top: 32px;
  background: #000000;
  color: #ffffff;
  border-radius: 8px;
}

.product_button:hover {
  cursor: pointer;
}

.timer_container {
  transition: 0.5s all ease-in-out;
  display: flex;
  opacity: 0;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border-radius: 8px;
  color: #000000;
}

.timer_container_w {
  transition: 0.5s all ease-in-out;
  display: flex;
  opacity: 0;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 8px;
  position: absolute;
  width: max-content !important;
  height: 40px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border-radius: 8px;
}

.timer {
  height: 5px;
  width: 0px;
  left: 12px;
  top: 7px;
  border-radius: 0px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  padding: 5px 2px;
  font-size: 13px;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgIcon {
  width: 17px;
  height: 17px;
  margin-right: 3px;
}

.downloadQR {
  padding: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: cornflowerblue;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
  margin: 20px;
}

.downloadQR:hover {
  background-color: darkblue;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  justify-content: center;
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 7.5%;
  max-width: 400px;
  max-height: 462px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(16px);
  border-radius: 32px;
}

.modal-close {
  position: absolute;
  right: 24.1px;
  top: 24.1px;
  cursor: pointer;
}

.modal-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 24px;
}

.modal-desc {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 18px 0 24px 0;
}

.modal-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 232px;
  height: 40px;
  background: #e0e0e0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  color: #000000;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 8px;
}

.modal-claim-input {
  padding: 8px 16px;
  gap: 8px;
  width: 232px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #e0e0e0;
  font-size: 14px;
  outline: none;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .product_wrapper {
    width: 100%;
  }

  .modal-content {
    width: 80%;
  }
}
